.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
    padding: 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 5vh 2rem;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  &__sold {
    color: $color-grey-light-2;
    text-transform: uppercase;
  }
}
